<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
    <h1>About</h1>
    <div>Flask-powered discussion blog-like web application, allowing multiple users
to add and comment posts.<br> For educational purposes the application uses free REST API JSONPlaceholder (https://jsonplaceholder.typicode.com/).
        <br>GitHub repository: https://github.com/KamSaf/kochamyJave-project</div>
    <h3><a href="/"> Back to home page </a></h3>
</body>
</html>
