<!DOCTYPE html>
<html lang="en">
<head>
    <title>kochamyJave-Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Home page</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="/about">About</a></li>
              {% if logged_user is defined %}
                <li><a>Welcome, {{logged_user}}</a> </li>
              {% else %}
                <li><a href="/login_page">Log In</a> </li>
              {% endif %}
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  <div class="container1">
        <strong><nav>
          <ul class="menu">
              <form action="/search" method="post">
              <div>
                <input type="text" size="50" name="searched_string" placeholder="Title">
                <button type="submit">Search</button> <br>
              </div>
          </form>
              </br>
              <form action="/filtered" method="post">
              <div>
                <input type="text" size="50" name="filtered_string" placeholder="Author">
                <button type="submit">Search</button> <br>
              </div>
          </form>
              <h4><a href="/new_post" style="text-decoration: none"> Add post </a></h4> <br><br>

            {%  for post in posts %}
            <div style="border-bottom: 5px solid green">
            <a href="/post_details/{{post.id}}" style="color: black; text-decoration: none"><h1>{{post.title}}</h1></a>
            <p>By {{users[post.userId-1].login}} on {{post.post_date}}</p>
                 <form action="/delete/{{post.id}}" method="post">
                <a href="/delete/{{post.id}}" style="color: black; text-decoration: none">Delete post</a>
         </form>
            </div>
              </br>
            {% endfor %}
          </ul>
        </nav></strong>
      </div>
  </body>
</html>
