<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add new comment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
                    <div class="container">
              <strong><nav>
          <ul class="menu">
            <li><a href="/">Home</a></li>
          </ul>
        </nav></strong>
          </div>
    </header>
      <div align="center" style="margin-top: 50px;">
        <b> New comment</b><br>
          <form action="/add_comment//{{post_id}}" method="post">
              <div>
                <input type="text" size="50" name="name" placeholder="Title"> <br>
                <textarea rows="15" cols="100" name="body"  placeholder="Comment content"></textarea> <br>
                  <input type="text" size="50" name="email" placeholder="Email address"> <br>
                <button type="submit">Share</button> <br>
              </div>
          </form>
      </div>
</body>
</html>