<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj post</title>
</head>
<body>
      <div align="center" style="margin-top: 50px;">
        <b><h1> Nowy post</h1></b><br>
          <form action="/add" method="post">
              <div>
                <input type="text" size="50" name="title" placeholder="Tytuł"> <br>
                <textarea rows="15" cols="100" name="body"  placeholder="Zawartość wpisu"></textarea> <br>
                <input type="text" name="user_id" placeholder="ID użytkownika"> <br>
                <button type="submit">Opublikuj</button> <br>
              </div>
          </form>
      </div>
</body>
</html>