<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add new post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
          <div class="container"></div>
    </header>
      <div align="center" style="margin-top: 50px;">
        <b><h1> New post</h1></b><br>
          <form action="/add" method="post">
              <div>
                <input type="text" size="50" name="title" placeholder="Title"> <br>
                <textarea rows="15" cols="100" name="body"  placeholder="Post content"></textarea> <br>
                <button type="submit">Share</button> <br>
              </div>
          </form>
      </div>
</body>
</html>