<!DOCTYPE html>
<html lang="en">
<head>
      <title>{{post.title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
            <h1 class="logo">{{post.title}}</h1>
        <strong><nav>
          <ul class="menu">
              <form action="/logout" method="post">
            <li><a href="/about">About</a></li>
                  <li><a href="/">Home</a></li>
              {% if logged_user is defined %}
              <li> <button type="submit">Log out</button></li>
              {% else %}
                <li><a href="/login_page">Log In</a> </li>
              {% endif %}
                  </form>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  <div class="container1">
        <strong><nav>
          <ul class="menu">
            <p>By {{user.login}} on {{post.post_date}}</p>
            <h2> {{ post.body }}</h2>
                 <form action="/delete/{{post.id}}" method="post">
                     {% if logged_user == "Kamil" %}
                <a href="/delete/{{post.id}}">Delete post</a>
                     {% endif %}
         </form>
          </ul>
        </nav></strong>
      </div>
  </body>
</html>
